// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "jumpstart/sticky-footer";
@import "jumpstart/announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.btn-secondary {
background-color: #C13584!important;
border-color:#C13584;
color:rgb(230, 220, 231)!important;
}
.btn-primary {
background-color:#522e92!important;
border-color:#522e92!important;
}
